```
[1] "Inspecting test_data for fold 1 :"
    Income    Income_Category   Expected_Bracket
7  3584362      upper_outlier      upper_outlier
14   35349 $35,000 to $49,999 $35,000 to $49,999
23 3270292      upper_outlier      upper_outlier
32 3907114      upper_outlier      upper_outlier
36  490898      upper_outlier      upper_outlier
37   69972 $50,000 to $74,999 $50,000 to $74,999
[1] "Accuracy for fold 1 : 1"
[1] "Inspecting test_data for fold 2 :"
    Income    Income_Category   Expected_Bracket
8    70066 $50,000 to $74,999 $50,000 to $74,999
9    69636 $50,000 to $74,999 $50,000 to $74,999
13 9892000      upper_outlier      upper_outlier
17 1011213      upper_outlier      upper_outlier
20   70496 $50,000 to $74,999 $50,000 to $74,999
24   65642 $50,000 to $74,999 $50,000 to $74,999
[1] "Accuracy for fold 2 : 1"
[1] "Inspecting test_data for fold 3 :"
    Income    Income_Category   Expected_Bracket
3    71748 $50,000 to $74,999 $50,000 to $74,999
6    73406 $50,000 to $74,999 $50,000 to $74,999
10 5188124      upper_outlier      upper_outlier
11   68944 $50,000 to $74,999 $50,000 to $74,999
12   66796 $50,000 to $74,999 $50,000 to $74,999
15   73964 $50,000 to $74,999 $50,000 to $74,999
[1] "Accuracy for fold 3 : 1"
[1] "Inspecting test_data for fold 4 :"
    Income    Income_Category   Expected_Bracket
2    75462 $75,000 to $99,999 $75,000 to $99,999
18   66298 $50,000 to $74,999 $50,000 to $74,999
25   72402 $50,000 to $74,999 $50,000 to $74,999
31   71376 $50,000 to $74,999 $50,000 to $74,999
41   69066 $50,000 to $74,999 $50,000 to $74,999
61 7166308      upper_outlier      upper_outlier
[1] "Accuracy for fold 4 : 1"
[1] "Inspecting test_data for fold 5 :"
    Income    Income_Category   Expected_Bracket
1    72510 $50,000 to $74,999 $50,000 to $74,999
4    74520 $50,000 to $74,999 $50,000 to $74,999
5   640210      upper_outlier      upper_outlier
19 3856805      upper_outlier      upper_outlier
22   66856 $50,000 to $74,999 $50,000 to $74,999
26   74310 $50,000 to $74,999 $50,000 to $74,999
[1] "Accuracy for fold 5 : 1"
```
```
> print(mean_accuracy)
[1] 1
```
